/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .flex{
  display: flex;
 }

 .row{
  flex-direction: row;
 }

 .column{
  flex-direction: column;
 }

 .mc{
  justify-content: center;
 }

 .cc{
  align-items: center;
 }

 .full_page{
  height: 100vh;
  width: 100%;
 }

 .topPadding5rem{
  padding-block-start: 5rem;
 }

 .topPadding2rem{
  padding-block-start: 2rem;
 }

 .gap2{
  gap: 2rem;
 }

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
